include LICENSE
include *.rst
include *.md
exclude MANIFEST.in
recursive-include docs *
recursive-include static *
recursive-include src/senaite/ast *
recursive-exclude src/senaite/ast *.pyc
recursive-exclude src/senaite/ast/locales/.tx *
